.git
.github
.gitignore
.DS_Store

**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log

.cursor
blender-mcp/
刘看山3d+平面/

*.docx
*.psd
*.c4d
*.obj
*.ai

mobefqrv.png
mobeohg5.png
低面数.glb

db/sqlite/*.sqlite
p0_mock/config.json

.env
.env.*
!.env.example
