.git
.github
.gitignore
.DS_Store

**/.DS_Store
**/__pycache__
**/*.pyc
**/*.pyo
**/*.log

.cursor
blender-mcp/
刘看山3d+平面/
legacy-demos/

*.docx
*.psd
*.c4d
*.obj
*.ai

db/sqlite/*.sqlite

.env
.env.*
!.env.example
